*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* style for the header */
header{
    background-color:rgba(134, 66, 10, 0.397);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color:  hsla(246, 18%, 33%, 0.692);
}
/* two column layout */
nav{
    float: left;
    width: 30%;
    height: 300px;
    background: hsla(125, 93%, 17%, 0.815);
    padding: 20px;

}
/* list inside the menu */
nav ul{
    list-style-type: none;
    padding: 0;

}
nav ul li{
    margin-bottom: 10px;
}
article{
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1;
    height: 300px;

}
section:after{
content: '';
display: table;
clear: both;

}
/* footer */
footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
/* responsive layout */
@media(max-width: 600px){
    nav, article{
        width: 100%;
        height: auto;

    }
nav ul{
text-align: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
}
}
